# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Get your xAI API Key here for chat and image models: https://console.x.ai/
XAI_API_KEY="xai-lz2rwv9fdZ9X6CU1VzC8EWUMqLWU0R3k88xv11KYo2UzJdoGpEiv6KXiVKsHY5iPYeWop0OQ43HrQPj5"
OPENAI_API_KEY="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"

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****
